html, body {
  background: #ffffff93;
}

// Within style tags in your html file
* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.card-header{
  color: rgb(170, 170, 170);
}


.card-header{
  color: rgb(170, 170, 170);
}

.card-title{
  color: black;
}

.card-text{
color: rgb(67, 67, 163);
font-size: 10px;
}